<h4>Замовлення номер: <%= @current_cart.id%></h4>
<p>Адрес доставки: <%= @address%></p>
<p>Номер телефону: <%= @phone%></p>
<p>Номер картки "Їжа.ки": <%= @card%></p>
<p>Коментар: <%= @comment%></p>
<table>
  <thead>
  <tr>
    <th>
      Назва:
    </th>
    <th>
      Кількість:
    </th>
  </tr>
  </thead>
  <tbody>
    <% @current_cart.line_items.each do |item|%>
      <tr>
        <td>
          <%= item.product.name%>
        </td>
        <td>
          <%= item.quantity %>
        </td>
      </tr>
<% end%>
</tbody>
</table>